<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS LINK -->
    <link rel="stylesheet" href="/public/assets/css/style.css" />
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Waste Management System</title>
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">
        <img src="/public/assets/images/logo.png" alt="logo" />
      </a>
      <nav class="navbar">
        <a href="./index.html">home</a>
        <a href="./about.html">about</a>
        <a href="./menu.html">menu</a>
        <a href="./login.html">products</a>
        <a href="./review.html">review</a>
        <a href="./contact.html" class="active">contact</a>
        <a href="./blog.html">blog</a>
      </nav>
      <div class="buttons">
        <button id="search-btn">
          <i class="fas fa-search"></i>
        </button>

        <button id="menu-btn">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div class="search-form">
        <input
          type="text"
          class="search-input"
          id="search-box"
          placeholder="Search"
        />
        <i class="fas fa-search"></i>
      </div>
    </header>
  </body>
</html>
